<!DOCTYPE html>
<html>
<head>
    <title>Restaurant Rating Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav>
    <div class="logo">
        <img src="{{ url_for('static', filename='1.png') }}">
    </div>

    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/predictor">Predictor</a>
        <a href="/about">About Me</a>
    </div>
</nav>

<section class="hero">
    <div class="overlay">
        <h1>Restaurant Rating Prediction</h1>
        <a href="/predictor" class="btn">Click Here To Explore</a>
    </div>
</section>

</body>
</html>